[2011-11-30 17:52] tiagojco opened #2 "customize the place where the html stubs is generated"
Add an option to build.json, so i can parameterize the location where html files will be generated by "anvil --html bla".

[2012-02-22 04:35] #2 closed, assigned to arobson

[2012-02-27 18:15] aaronmccall opened #3 "documentation generator support"
Hi Alex!

I was wondering if you were interested in having documentation generation in anvil.js. I would love to contribute support for [ape](https://github.com/nathan-lafreniere/ape) and [docco](http://jashkenas.github.com/docco/).

[2012-02-27 18:17] aaronmccall commented on #3
PS -- I am currently testing all 3 (docco, ape and anvil.js) for use in some of my projects and thought it would be pretty cool to have the doc generation built into anvil.js.

[2012-02-27 18:23] arobson commented on #3
Hey Aaron,

That sounds like an awesome idea. Contribution would be fantastic and I would probably use the heck out of it for some of the other projects I've been working on. I kept meaning to look into docco and have been putting it off. Anvil's source is pretty messy so just let me know if you have any questions. If it looks too daunting to dive into, I may see about adding support.

Thanks!

[2012-02-27 18:46] ifandelse commented on #3
+1 on this idea!  Would be a great addition....

[2012-02-28 01:15] aaronmccall commented on #3
Alex:

How about I contribute some code comment docs as well? It'll help me
to understand the code and others to contribute in the future.

## Aaron

Brevity is the soul of wit (and mobile email!).

On Feb 27, 2012, at 10:23 AM, Alex Robson
reply@reply.github.com
wrote:

[2012-02-28 01:21] arobson commented on #3
Aaron,

You're a brave soul. If you happen to want help spelunking the depths of anvil, I will do what I can there. Anvil is the first project like it that I'd ever written for Node (and first major use of coffeescript) so it's... uh... got character.

It's also possible you'll have recommendations for refactoring or better code organization in general. Any contribution is really appreciated. I'm

[2012-02-29 00:46] aaronmccall commented on #3
Alex,

Take a look at my `code_docs` branch, if you want a sneak peak of what I'm up to. I'd love your feedback.

[2012-03-02 04:25] arobson commented on #3
Hi Aaron,

Sorry I didn't respond sooner. This is looking really good so far, I didn't get a chance to review all of it, but I really appreciate the effort you've put in so far.

Thanks!

[2012-03-06 07:52] aaronmccall commented on #3
Alex,

I've finished (pending feedback from you) my attempt to document the code. Please review: [code_docs](https://github.com/aaronmccall/anvil.js/tree/code_docs).

Thanks and have a fantastic Tuesday!

[2012-03-06 07:54] aaronmccall commented on #3
If you like what you see (or when the code docs pass muster), I'll `merge --squash` the branch back into master and send a pull request.

[2012-03-27 19:46] rauhryan opened #7 "I want to help"
Hey man,

I've been working on my own project similar to yours, it started off as some shell scripts and text files.

Looks like you have a huge head start on me.

What can I do to help?

[2012-03-27 21:14] arobson commented on #7
Awesome! Things are in a bit of flux as a rewrite has been started (reboot branch) so that Anvil can facilitate site/app/lib development vs. just lib development.

It's getting close to something that (kinda) works again and at that point it would be easier to ask for help on certain features. In the meantime, if you happen to glance at reboot and see ways to improve the quality of the code (I hav

[2012-03-27 21:32] rauhryan commented on #7
Im not on trello, but I did write a kanban board for github ;)

http://lostechies.com/ryanrauh/2012/01/13/huboard-github-issues-made-awesome/

I'm coworkers with Dru Sellers, he suggested that I check out your project
because
we have similar needs in our app.

-Ryan

On Tue, Mar 27, 2012 at 4:14 PM, Alex Robson <
reply@reply.github.com

[2012-03-28 02:03] mxriverlynn opened #8 "Output includes ^M for wrap's prefix and suffix"
I'm running OSX and when I build a project that has a "wrap" defined in the build.json, I ended up with `^M` at the end of the line for the prefix and the suffix. For example:

`define(['jquery', 'underscore', 'backbone'], function($, _, Backbone){^M`

this doesn't seem to be affecting things adversely when I run the output script in Chrome, but I haven't tried other browsers... and it's a little

[2012-03-29 00:25] arobson commented on #8
Well that's awful. I am really sorry about that. I haven't caught that simply because I haven't really used wrap in my projects much these days.

"How are you generating the "new line" character for the prefix / suffix?"

Would you accept "naïvely" as the answer? Things are in flux a bit as I'm working on a rewrite with actual tests and everything : ) I would be interested in hearing what kinds of

[2012-03-29 00:53] mxriverlynn commented on #8
:) no problem...

I've got Anvil in place with Backbone.Marionette now and I'm loving it so far.

There's one immediate thing I'd like to see:
- Include a `license` property in the build.json file. This would contain the license text that gets put at the top of each build out put file, including the uglified/minified/gzipped versions
- Alternate of `license-file` property to read from a file

And

[2012-03-29 01:14] arobson commented on #8
### Re: the bug

I couldn't repro this one, but likely I'm just deficient : ) I did change the way the newline works but I'm not sure that it will fix the issue you were seeing. Would you mind doing at least a local anvil install from npm to see if it fixes the issue?

### Other things

As far as the license bit goes, there's a finalize step that will let you specify text as a string or file for t

[2012-03-29 01:16] #3 closed, assigned to nobody

[2012-03-29 01:34] mxriverlynn commented on #8
oh, nice... I didn't see that finalize attribute before. that will work perfectly.

I don't think wrap and finalize should be put together. I'm using wrap to add AMD/RequireJS support around Marionette, and I want that to be uglified with everything else (compressing the variable names, etc). But I want to have my license file prepended to the top of the output after uglification.

A few other tho

[2012-03-29 03:52] arobson commented on #8
### Version Number

@ifandelse and I were talking the other day and brainstorming about versions. I thought it would be swell if you could have placeholders for boilerplates and then by convention populate version from the git tag. That way you could tag your versions and have the code reflect it. Adding an override to the build file is also fine by me. This dovetails into...

### Moar Convention

[2012-03-29 03:59] ifandelse commented on #8
I agree with @derickbailey's point about having license included after minification/etc, so +1 to the thought of a wrap-header, wrap-footer and then final-header, final-footer.

Regarding the "moar convention" thoughts - I think if you keep to the approach you've been taking (the "favor sophisticated convention" but allow for flexible configured overrides), then I love it.  The thing that has made

[2012-03-29 13:12] mxriverlynn commented on #8
that all sounds good to me.

[2012-03-29 13:51] mxriverlynn opened #9 "*-file settings don't work with .txt files?"
I'm trying to move all my "wrap" and "finalize" settings to external txt files, so that I don't have to maintain the info in the .json file.  it's loading my files correctly, but it's not appending any of the information to the header or footer, in the output.

is this because i'm using .txt files? or ?

[2012-03-29 13:52] mxriverlynn commented on #9
... ok, this is really odd now... of all the things that didn't work, it put the "finalize" / "header-file" (my license info) in to the gzipped files, but nothing else.

[2012-03-29 14:59] mxriverlynn opened #10 "v0.6.7 fails"
I updated from whatever previous version i had, to v0.6.7 to see if that would fix my problem with the wrap and finalize, but now i can't run it at all:

[code]

I get that error when I try to run `anvil` against my project

[2012-03-29 15:14] arobson commented on #10
I saw that error locally after merging in the docco stuff but it went away after I changed the way the dependency had been specified in package.json and ran npm update. Looks like that was a coincidence and didn't actually fix the issue. I will try to repro and resolve shortly. Any chance running npm install docco -g gets anvil running again?

[2012-03-29 15:17] mxriverlynn commented on #10
tried that, but it didn't help

[2012-03-29 15:21] mxriverlynn commented on #10
is there a way to tell it to not run the docco task?

[2012-03-29 16:41] aaronmccall opened #11 "Make gendocs default to ignore *.min.js"
I'll try to get this done ASAP as it is pretty annoying to get a bunch of doc files for minified versions.

[2012-03-29 17:56] aaronmccall commented on #10
@derickbailey just eliminate the "gendocs" key from build.json to prevent calls to docco.

[2012-03-29 17:57] mxriverlynn commented on #10
I never had a gendocs key in mine.

it doesn't matter if it's in there or not. adding it and configuring it correctly fail. removing it still fails.

[2012-03-29 18:05] aaronmccall commented on #10
found the issue: docco proper (as in the ordinary NPM package) is not able to be used inside of javascript. anvil's package.json needs to specify docco like so '"docco": "https://github.com/andtan/flocco/tarball/master"'

[2012-03-29 19:11] mxriverlynn commented on #10
how do i fix my local install while i wait for that to be fixed in the npm package for anvil?

[2012-03-29 19:30] aaronmccall commented on #10
is anvil installed globally? in that case, you'd need to modify the docco key in anvil's package.json in your global node_modules (mine are in /usr/local/lib/node_modules) and run `npm update .` in the anvil node_module dir.

[2012-03-29 20:11] mxriverlynn commented on #10
still failing for me, even after i manually clean out the original docco and then run "npm install" or "npm update" from within the anvil folder.

i'll just wait til the anvil package is fixed in the npm registry

[2012-03-29 20:23] aaronmccall commented on #10
I have submitted a pull request that should fix it

[2012-03-29 20:23] ganarajpr commented on #10
I am waiting for this fix as well. I was following derick's marionette and wanted to test it out ( will try without anvil until then! ). @derickbailey Would it be possible to create a scaffolding for your marionette using anvil?

I need anvil as a build script. This is a great tool. Keep up the good work. Would help, but am still a noob in the js world.

[2012-03-29 20:27] mxriverlynn commented on #10
@ganarajpr i don't think anvil would be a good fit for that. it doesn't do file generating or template expansion for that purpose. it's real purpose is to be an opinionated build tool for js libraries / apps.

fwiw, you don't need anvil to use marionette, only to build it. there are download links at the top of the marionette readme to get what you need for using marionette. if you're running in t

[2012-03-30 04:39] #11 closed, assigned to nobody

[2012-03-30 04:48] arobson commented on #10
@derickbailey I have pulled in @aaronmccall's patch and re-published to npm. Really sorry I wasn't able to get to this sooner today. @aaronmccall to the rescue : )

I believe you can re-install specific versions of packages with this:

[code]

Not exactly comforting and I am sorry you were down for a day : ( The new version of Anvil has unit tests so hopefully I will catch mistakes like this one g

[2012-03-30 12:18] mxriverlynn commented on #10
no worries, yo. you have a day job. :)

i updated to the new version and it works now. thanks!

[2012-03-30 12:18] #10 closed, assigned to nobody

[2012-03-30 12:20] mxriverlynn commented on #9
so, after getting the latest version of Anvil working, this still doesn't work. None of the output files contain any of my "wrap" or "finalize" stuff when using "header-file" and "footer-file" for finalize, or "prefix-file" and "suffix-file" for "wrap".

If i set the files to something that doesn't exist, i get the expected error saying it can't find the file. So that makes me think it is loading

[2012-04-02 20:31] gnidde opened #13 "Problem with anvil -p"
Hi, I'm a newbie with JavaScript and is eager to try Anvil out. I get a problem with running the anvil -p command. I'm running Windows 7.
I get the error below. Is it an issue or am I doing something bad? I even tried to run my console as administrator but that didn't help.

Best regards

Anders

C:\Projects\web\mama>anvil -p
Checking for config...
Loading config...

fs.js:434
  return binding.sym

[2012-04-02 20:37] gnidde commented on #13
I actually got it to work right after posting this issue. When I created an empty file named pavlov in the root it worked to run anvil -p.

[2012-04-12 01:05] arobson commented on #8
Hey @derickbailey,

The RC for new Anvil is in place in master and available on npm. Would you mind checking to see if you're still getting garbage in your files when using the wrap feature?

Thanks.

[2012-04-12 01:08] arobson commented on #13
@gnidde, sorry about the trouble. The pavlov support as it exists in 0.6.7 is going away. Anvil will copy the following files into the project's 'ext' folder:
pavlov.js
qunit.js
quint.cs
jquery.js
anvilHook.js

If you're building an HTML page to run your pavlov tests, including these files from your project's ext folder will give you the same behavior as before.

The reason the pavlov feature was

[2012-04-12 01:08] #13 closed, assigned to nobody

[2012-04-12 01:12] arobson commented on #9
@derickbailey,

The new version of anvil should correctly handle this issue. I actually played around a bit with it and it was looking like this works. Would you be brave enough to install the new anvil version and give it a shot? Really trying not to throw junk over the wall. If you have a public repo you've been testing this in, let me know and I'd be happy to test the waters for you.

Thanks ag

[2012-04-12 05:21] gnidde commented on #13
Thanks for the answer Alex. Great job with this little project. It's nice to use.

[2012-04-12 13:30] mxriverlynn commented on #9
looks like the new version is even more broken :(

the old version would only try to build and minify .js files. The new version is trying to build / minify everything, including the .DS_Store files that OSX generates.

[code]

I can't specify anything other than a folder in the `source` setting other than a folder, either. if i specify `src/*.js` it looks for a folder called *.js

All of this is

[2012-04-12 13:34] mxriverlynn commented on #9
FYI - I can work around that issue by removing the .DS_Store file... but it would be nice to be able to limit what files it tries to compile and minify

[2012-04-12 14:23] #9 closed, assigned to arobson

[2012-04-12 14:24] mxriverlynn opened #16 "ignore anything other than .js or .coffee files"
the old version would only try to build and minify .js files. The new version is trying to build / minify everything, including the .DS_Store files that OSX generates.

!!! Error minifying .DS_Store :
     Unexpected character '' (line: 9, col: 1, pos: 300)

Error
I can't specify anything other than a folder in the source setting other than a folder, either. if i specify src/*.js it looks for a fo

[2012-04-12 14:25] mxriverlynn commented on #8
this is working correctly now.

[2012-04-12 14:25] #8 closed, assigned to arobson

[2012-04-12 16:05] arobson commented on #9
Marionette seems to be building ok now, I even added junk to the src folder to make sure it didn't get included or break the build.

I also made a few changes to the build file to test some things out and I've left notes. If you're interested, I can always submit a pull request for you to review.

[code]

## Single Build File

I personally wouldn't like maintaining two builds. The steps to consoli

[2012-04-12 16:06] arobson commented on #16
Marionette seems to be building ok now, I even added junk to the src folder to make sure it didn't get included or break the build.

I also made a few changes to the build file to test some things out and I've left notes. If you're interested, I can always submit a pull request for you to review.

[code]

## Single Build File

I personally wouldn't like maintaining two builds. The steps to consoli

[2012-04-12 16:08] arobson commented on #16
Commit f4a9b79 should address this, I'll wait to make sure you're not seeing the problem anymore.

[2012-04-13 00:44] mikehostetler opened #18 "Anvil fails on scaffolding a new site into an existing directory"
Tried to ask anvil to scaffold a new site into an existing directory and it failed:

[code]

I realize that Anvil may have never been intended to do this, it didn't fail gracefully so I wanted to record it.

[2012-04-13 02:16] mikehostetler commented on #18
Upon further investigation, it actually creates the scaffold directories, but fails to create the build.json file

[2012-04-13 03:52] arobson commented on #18
Scaffolding only makes sense for new projects because Anvil will always create any missing directories needed for the project when you start it up.

The default build.json file doesn't get created on start because Anvil will actually use the defaults if no build file is found. To create one, you can use:

### library projects

anvil --libfile {filename}

### site projects

anvil --sitefile {filena

[2012-04-13 13:06] mikehostetler commented on #18
The behavior is perfectly fine, I just discovered some friction in how you get there.

I did some more investigating last night and I ran into more problems.  I need to isolate a consistent test case and then I'm going to take a stab at fixing it <watchout! /> :-)

[2012-04-16 00:41] mikehostetler opened #19 "Document that to build Anvil, you need to install Pygmants"
Anvil uses anvil to build itself, which requires getting Docco to work.

For Docco to work, you need to install the Python library Pygments: http://jashkenas.github.com/docco/

Pygments is here: http://pygments.org/

There wasn't a great place to put developer documentation yet, so wanted to get this recorded here.

[2012-04-16 04:31] arobson commented on #19
Hey Mike,

This is a bug in the package.json file. Using the wrong version of docco causes this issue. There is a version that doesn't require the Python package and the package file should have reflected that. Let's touch base on this and make sure I'm correct, I don't want to require Python packages for Anvil to work.

Thanks for catching this.

[2012-04-16 20:26] barclayadam opened #22 "Mocha in-browser (or jasmine)"
Is there any way for Mocha (or other in-browser spec runners such as Jasmine) to be able to be hosted in the browser via. anvil, as pavlov was in a version before the reboot?

Before the reboot a pavlov page was completely generated on the fly, is that something that is making a return in some form or another? Some of the parts seem to be there (e.g. the anvilHook.js file for automatically refresh

[2012-04-17 06:50] ifandelse commented on #18
I'm trying to run `anvil --lib some.directory` and am getting the same error:

[code]

after this error, if I run an ls on the dir, I see:
`ext lib spec    src tmp`

the ext directory (mentioned in the error) is empty.

[2012-04-17 19:31] arobson commented on #22
### HTML page generation

This feature got cut for the rewrite because there is not currently a reliable way for Anvil to know what order script includes should occur. Using directory order is pretty broken on pretty much anything with more than just a few cross-dependencies.

### Unneeded files

I will see what I can do about this one. Putting a symbolic link in the project to link back to these

[2012-04-18 06:12] yesimon opened #23 "Enoent bug in anvil --ci"
I got the same error as this issue in the `watch` library: https://github.com/mikeal/watch/pull/26 and https://github.com/mikeal/watch/issues/19. Basically if there are emacs lock files `anvil --ci` crashes with an enoent error.

[2012-04-18 12:36] barclayadam commented on #22
### Page Generation

Good point about the ordering of script includes. Just to throw some thoughts out there, not sure what you have in mind with regards to the testing story so feel free to completely ignore me ;)
- For the ext folder we allow a references.[txt/js/etc] file that includes the order of the files as they should be included (just a list of file names). This would mirror the style use

[2012-04-18 13:59] arobson commented on #22
Thanks for the detailed feedback. This is a huge help. Understanding what others are looking for will definitely help improve how versatile Anvil is.

I am currently working on two lines of development. One is fixing bugs and issues and the other is creating a more plug-in centered design for Anvil that should make it possible to address a lot more use cases and make it extensible. In the mean-tim

[2012-04-18 14:00] arobson commented on #23
Thanks for the heads up. I'll see what I can do to make the watcher more crash proof.

[2012-04-19 02:53] #18 closed, assigned to nobody

[2012-04-19 02:53] #23 closed, assigned to nobody

[2012-04-19 02:54] #16 closed, assigned to nobody

[2012-04-19 12:39] mxriverlynn commented on #16
@arobson thanks for all the detail here. i'm just now getting to this and i'm going to put in the changes that you suggested for a single build file. that looks much easier than what i'm trying to do. :)

[2012-04-19 15:54] dcneiner opened #26 "Normal stylus imports do not work"
To reproduce, have two `styl` files in the same directory.

sample1.styl

[code]

sample2.styl

[code]

When anvil goes to build, it will throw this error:

[code]

[2012-04-23 22:55] mikesten opened #28 "The uglifier needs to be a little stricter about file extensions"
jquery.jscrollpane.js becomes jquery.min.jscrollpane.js instead of jquery.jscrollpane.min.js

[2012-04-24 00:01] mikesten opened #29 "Replace statement can be obeyed when inline"
I was trying to bundle jQuery with a couple of plugins and found that Anvil was mangling some jQuery internals. I've written a quick test case:
https://github.com/mikesten/anvil.js/commit/f89f0c6534e4903feab094f82f0af8b8befb1ac6

My Regexp foo is weak though so I couldn't manage a fix. Let me know if you want a pull request for the test.

[2012-04-24 00:06] mikesten opened #30 "$` in JS files being taken as a regexp match"
While attempting to import Backbone I found Anvil treating $` (in Backbone's comments) as a Regexp replacement directive.

Here's a testcase:
https://github.com/mikesten/anvil.js/commit/344c0b2520eec49552761b8c190365b70a05c876

Like the last one, let me know if you want me to wrap up a diff or pull request.

[2012-04-28 00:29] arobson commented on #30
@mikesten, thanks for tracking this down and writing the test cases. The test for this appears to pass. There's no way to prevent the replace method from interpreting the $ as it was, so I have to perform an intermediate replace to something cheesy, then switch it back after the intended replace is done. Not ideal, but it seems to address the problem.

I am going to close the issue, but re-open it

[2012-04-28 00:29] #30 closed, assigned to nobody

[2012-04-28 00:30] arobson commented on #29
@mikesten, thanks for tracking this down and writing the test cases. The test for this appears to pass. I'm not clear what was happening before, but if your test case represented the problem you were seeing, this issue should be resolved as well.

I am going to close the issue, but re-open it if you continue to see problems. Thanks again.

[2012-04-28 00:30] #29 closed, assigned to nobody

[2012-04-28 00:53] arobson commented on #28
I wasn't able to reproduce this exact issue, but I did see some odd behavior thanks to your report of this issue. After fixing that problem, I was able to build a small test project with the file one.two.three.js which was successfully minified to one.two.three.min.js.

I have published a new version of anvil to npm 0.7.6 that should address this and the other combiner issues you found. Thanks for

[2012-04-28 00:53] #28 closed, assigned to nobody

[2012-05-06 19:00] mxriverlynn opened #32 "need a changelog"
It would be very beneficial to have a changelog of the things that have changed between versions. I keep mine in the readme of my projects, but even if it's a separate file, it would help a lot with upgrading and getting used to the new features as new versions are released.

fwiw, i write my change logs the same way i write documentation: as change happens. if i don't write the change log and the

[2012-05-15 14:39] mxriverlynn opened #33 "flocco no longer exists. can't install anvil"
there's a direct dependency on https://github.com/andtan/flocco/tarball/master

this user and this repository no longer exist, so i can't install anvil anymore

[2012-05-15 15:32] arobson commented on #33
Thanks for the heads up. That's a bummer. I'll see what I can do for the short-run.

[2012-05-15 15:49] mxriverlynn commented on #33
short term suggestion: disable docco documentation feature? :)

[2012-05-16 13:31] arobson commented on #33
As much as I dislike removing a feature, I really dislike the idea of Anvil having a python dependency. Until I can work out an alternative, docco support has been disabled. Don't install Anvil version 0.7.7 from NPM unless you're not using docco.

[2012-05-16 19:43] #33 closed, assigned to nobody

[2012-06-07 03:26] arobson commented on #32
Great suggestion. I've started one and went back to previous pull requests to tried to reconstruct something and will keep it going for future development.

[2012-06-07 03:26] #32 closed, assigned to nobody

[2012-06-08 04:48] madcapnmckay opened #38 "0.7.7 Issues getting started"
Followed the docs, for a new project.
1. anvil --lib MyProject
2. to the default build.json added "name": "myproject.js"
3. Added two files to src folder test1.js and test2.js

[code]

And

[code]

Build

The file myproject.js contains.

[code]

Obviously this is wrong. I've repeated this a couple times, same result. I would guess that it's maybe because I didn't specify import comments but I woul

[2012-06-09 03:20] arobson commented on #38
Based on what I understand of this test, I'm surprised Anvil is doing anything other than outputting test1.js and test2.js in the lib folder.

Without import statements Anvil's not meant to combine files at all. Let me know if I've totally missed the mark here.

[2012-06-09 05:36] madcapnmckay commented on #38
Ok, that's what I thought. It seems because I specified a single output name it attempted to combine them all.I figured maybe if no imports were specified it would go by directory order or something.

I was having issues with the import statements. If i included a test2.js import in the test1.js I received.

TypeError: Cannot read property 'fullPath' of undefined

Any idea what that could be?

[2012-06-09 05:52] arobson commented on #38
Does the content of test1.js look like:

[code]

[2012-06-10 02:13] madcapnmckay commented on #38
My test1.js looks like the above but with test2.js in the import statement. Interestingly, i'm on my home machine now and I am not receiving the fullPath error. The import comments are working.

If I specify in the build.json to use uglify the output is.

[code]

Not the extra body and "n" character at the end of the second class.

If i omit the uglify, the output is unminified but otherwise corre

[2012-06-10 02:48] madcapnmckay commented on #38
Sorry for spamming, thought I'd raise all my issues in the same thread. I've added a few mocha tests, all is running fine from anvil. However if i run in CI mode, the first iteration runs my tests, I then update the js files, the watchers correctly rerun the build but no tests are run. It doesn't matter whether I add the mocha section in build.json or add it as a param i.e.

anvil --mocha --ci

[2012-06-11 07:00] tutukin opened #39 "Error: Cannot find module 'Commander'"
anvil --lib MyProject fails:

node.js:201
        throw e; // process.nextTick error, or 'error' event on first tick
              ^
Error: Cannot find module 'Commander'
    at Function._resolveFilename (module.js:332:11)
    at Function._load (module.js:279:25)
    at Module.require (module.js:354:17)
    at require (module.js:370:17)
    at Object.<anonymous> (/usr/local/lib/node_modules/anvil.

[2012-06-12 05:47] arobson commented on #38
Hi Ian,

I am not able to repro the uglify error you're seeing. What OS are you on? I was able to reproduce the CI and Mocha issues you were running into and found out that Mocha added a new JS API that I was able to use to simplify Anvil's Mocha runner and resolve that bug.

[2012-06-12 05:48] arobson commented on #39
Hi tutukin,

Thanks for catching that and the fix. If you install the 0.7.9 version of Anvil via NPM, it should address the problem.

[2012-06-12 05:48] #39 closed, assigned to nobody

[2012-06-12 05:49] #7 closed, assigned to nobody

[2012-06-12 05:50] #19 closed, assigned to nobody

[2012-06-12 22:21] madcapnmckay commented on #38
I'm on Win 7 x64. I've been building fine all weekend without uglify and with real code. I'll try my test case again tonight. Great news about the mocha CI stuff.

Cheers

[2012-06-14 14:09] barclayadam opened #40 "CI + CoffeeScript compilation failure throws unhandled exception"
I'm using the CI option to build a CoffeeScript project, in addition to the socket.io support for automated reloads of my test suite but anvil will throw an exception and stop running should there be a compilation error in a file:

[code]

Taking a look through the code seems to be because the error returned to the onComplete callback in the `Compiler.compile` method is being ignored in the `Anvil

[2012-11-14 22:24] rniemeyer opened #45 "Issue installing 0.8.15 related to "npm link npm --local""
Hello-
I have a number of repositories that use an older version of Anvil and I am looking to upgrade their build files to be compatible with the 0.8+ version.

I am having some issues getting Anvil installed on both of my Macs.  I have the latest version of node, npm, and uninstalled anvil completely.

I run into an issue with the install doing `npm link npm --local`.  Here is my output:

[code]

[2012-11-14 22:39] jcreamer898 commented on #45
Are you using nvm? If not, I highly suggest it. There's some permissions issues that occur sometimes that could be causing your issues.

[2012-11-14 22:45] arobson commented on #45
Hi Ryan,

Sorry that the new install is giving you trouble. I have occasionally seen these kinds of issues related to path/permissions on other machines that have been resolved when the user installs node via nvm.

My guess is that the user running npm install does not have the rights to change permissions on anything under /usr/local/lib/node_modules and that part of the linking is attempting to

[2012-11-14 23:01] rniemeyer commented on #45
Thanks guys.  I'll give `nvm` a shot.  On my laptop, Node was installed directly from the install pkg provided on nodejs.org.  I believe it was via homebrew on my other machine.

[2012-11-14 23:03] ifandelse commented on #45
@rniemeyer I would recommend removing any node/npm assets you have installed before pulling [nvm](https://github.com/creationix/nvm) down. (Preventative medicine!)

[2012-11-14 23:05] ifandelse commented on #45
@rniemeyer Also - if you have questions about how the structure of build.json files has changed, let us know!  We have some decent examples of current ones as well (check out [here](https://github.com/ifandelse/postal.js/blob/master/build.json), [here](https://github.com/ifandelse/machina.js/blob/master/build.json) or [here](https://github.com/ifandelse/monologue.js/blob/master/build.json)).

[2012-11-14 23:11] rniemeyer commented on #45
Thanks for the responses.  I have it installed properly now that I am using `nvm`.

Thanks for the links Jim, that should be helpful.  I think that I understand what I need to do with my build files as well. Hopefully, it will go smoothly.

[2012-11-14 23:11] #45 closed, assigned to nobody

[2012-11-22 02:21] eliperelman commented on #45
Just FYI, Alex's suggestion had fixed this same issue for me:

[code]

[2012-11-22 16:26] rniemeyer commented on #45
@eliperelman - Thanks for verifying!  I'll try that next time and hopefully the next person that finds this thread can as well.

[2013-01-08 17:30] arobson commented on #22
Going to close this out; starting in RC3 and forward, testem integration supports running custom test pages in the browser so that users can choose any approach they like. Scaffolds could be created to help users generate test pages.

[2013-01-08 17:30] #22 closed, assigned to nobody

[2013-01-17 18:07] jglovier opened #49 "Referencing files that don't exist interrupts CI mode."
So I'm using the new anvil.templates plugin that Creamer has been developing for building static files from source. I'm running in `--ci` mode so I can see changes update in the browser live, and it's working great.

I've got handlebars templating setup for partials, and I noticed an issue with CI mode. Turns out if you reference files in the code that don't exist yet (like a new handlebars templa

[2013-02-01 12:28] szkrd opened #51 "Anvil breaks on Windows 7"
Using _node v0.8.18_ (with the previous 0.8.8 version anvil always died with a missing dependency error) at the end of the package installation process (_npm install anvil -g_):

[code]

After that `anvil -v` works, but pretty much nothing else (even --help spits out tons of red messages).

Did I miss something? Do I have to install some deps manually? Thank you!

[2013-02-01 17:20] rauhryan commented on #51
Same problem on Windows 8

[2013-02-01 17:26] jcreamer898 commented on #51
The code breaking here is...

[code]

Looks like it just needs to do a bit of checking.

[2013-02-01 19:23] arobson commented on #51
Thanks for catching this one guys, pretty awful assumption I built into the code there. The issue isn't actually windows related but caused if you have a ~/.gitconfig that doesn't include your username and email (which anvil is using to populate headers or scaffolds that reference those values).

[2013-02-01 19:23] #51 closed, assigned to nobody

[2013-02-01 19:39] rauhryan opened #53 "0.9.1 failed to install on linux"
if I run `sudo install anvil.js -g`

I get the following error

[code]

[2013-02-01 19:41] arobson commented on #49
Hey @jglovier,

Are you continuing to see this behavior since the 0.9.0/0.9.1? You'll need to update your plug-ins as well if you haven't. Just curious to know if it's still broken. Thanks

[2013-02-01 19:45] arobson commented on #53
How did you install Node? If you haven't installed it with NVM, then NPM won't have permissions to install any global modules. I'm guessing that's the issue given the paths like "/usr/local/bin/npm". You can either chose to sudo install all your global modules (ew) or you can back out your current install, snag [nvm](http://github.com/creationix/nvm) and be back up and running in a few minutes (on

[2013-02-01 19:47] arobson commented on #38
Hey @ madcapnmckay,

Still using anvil? Let me know if you're still having issues with the newer version and we'll get it fixed or close this issue out.

[2013-02-01 19:48] arobson commented on #40
This bug dates back to a version of anvil before extensions, please check out the new anvil and let me know if you're still having problems. Thanks!

[2013-02-01 19:48] #40 closed, assigned to nobody

[2013-02-01 19:50] arobson commented on #26
Hey @dcneiner, I'm going to close this one given it's nearly a year old... feel free to re-open if Anvil's still having this issue, my guess is that it got resolved with the great big re-write(s) :clap:

[2013-02-01 19:50] #26 closed, assigned to nobody

[2013-02-01 20:01] rauhryan commented on #53
i didnt' use nvm

I make installed from the tarball

I will try nvm

Thanks

[2013-02-01 20:40] szkrd commented on #51
Thanks, it's working now!

[2013-02-01 21:47] szkrd opened #54 "scaffolding doesn't work?"
The wiki says (in the quickstart) that a new project may be scffolded from scratch - is this true? To me, nothing happens (node 0.8.18, anvil 0.9.1, Win7 x64):

[code]

Also note that `anvil install anvil.demo.scaffolds` gives me a npm 404 error.

If this shouldn't work, could you please remove the quickstart wiki page otherwise an error message would be nice; thank you!

[2013-02-01 21:49] jglovier commented on #49
@arobson I haven't upgraded yet, I'm still on 0.9.0-RC4. I was hesitant to upgrade since Creamer's environment broke, and I couldn't afford to be dead in the water on this project right now at all.

But should I be able to upgrade without breaking anything now? Was his issue unique to his Windows setup?

[2013-02-01 22:26] arobson commented on #54
@rosamez - sorry about that, would you try running the install command again and see if it installs correctly now without the 404?

[2013-02-01 22:31] arobson commented on #49
@Creamer's environment did get hosed, but there was an odd bug hanging out in the source that somehow never got caught before and we've since resolved a few other issues.

No rush, but when you're ready, I would suggest doing the following things:
1. install a different node version than the current one you're using (nvm install v0.8.17 for example)
2. backup your extension folder: mv ~/.anvilexte

[2013-02-01 22:48] jglovier commented on #49
Cool. I have a break in the action on Monday after my deliverables, so I'll go through those steps on Tues and report back.

[2013-02-01 23:15] szkrd commented on #54
The demo scaffolds are fetched correctly now and the new demo scaffold works fine, thank you!

[2013-02-01 23:15] #54 closed, assigned to nobody

[2013-02-03 18:59] szkrd opened #55 "Clean doesn't work with ci"
`anvil --ci --clean`  cleans up on startup, but not anymore (anvil 0.9.1, node 0.8.18, win7).

[2013-02-03 19:08] szkrd opened #56 "Anvil -h starts a http server on port 3080"
Shouldn't it give me the same as "--help"? Did I break something with my anvil installation?

[2013-02-03 19:11] szkrd opened #57 "Anvil --host doesn't work"
No error message in console, but in the browser that's all I have (I tried adding index.html files to every directory, but it didn't help; as usual I'm on Win7):

[code]

[2013-02-03 20:43] szkrd opened #58 "Add support for importOnce"
Or something similar, in the veins of `require_once` from a popular language ;) If this absolutely is out of the scope, please feel free to close this ticket, otherwise it might be a useful placeholder. Thank you!

[2013-02-03 22:16] szkrd opened #59 "Ci mode unstable on Windows"
Usually after half an hour the ci instanciated anvil dies with an error message:

[code]

I know it's terribly vague and I couldn't easily reproduce the problem but basically this is the number one reason for me restarting a ci anvil. After this message anvil won't exit, but it won't build either. If this can't be fixed or should be reported upstream (_fs-watch-tree_), please let me know and just

[2013-02-04 06:00] arobson commented on #55
Hi @rosamez,

That's intentional; this is largely because the CI mode performs _incremental_ builds; only outputting files that were affected by the latest change. If a clean ran after an incremental build, it would require Anvil to re-create the entire build (and lose the advantage of incremental builds altogether).

Can you describe the use case you are interested in covering via the clean?

[2013-02-04 06:02] arobson commented on #56
Thanks @rosamez, that's definitely a bug, I'll get a fix and it will be corrected as of 0.9.2.

[2013-02-04 06:10] arobson commented on #58
@rosamez, I'm not really familiar enough with PHP to understand the use case. How would that differ from the existing import? If you can explain the use case, I'd be happy to discuss it further.

[2013-02-04 06:25] arobson commented on #59
@rosamez - thank you for reporting this one. I suggest reporting it to fs-watch-tree. I can say that on Linux, I haven't seen the same behavior yet. Keep me posted, file watching seems to be very unpredictable in general.

[2013-02-04 06:37] arobson commented on #57
@rosamez - the default port is 3080 and anvil _should_ host your output directory at the root of the URL (by default this is "./lib"). Looks like this isn't working correctly, so I'll add this to the list of bugs to fix for 0.9.2. In the meantime, you can fix this with the following block in your build.json file:

[code]

Hope that work around helps, I'll keep this issue open until the bug fix is

[2013-02-04 07:15] szkrd commented on #55
I think a valid use case would be dev mode with small projects, where I move files around / delete them often and have to check the output manually - these files are not removed from the lib dir, but I guess this is nothing more than an inconvenience. I can accept that it is by design, though stressing the _incrementally_ nature in the help (at least in --help) would not hurt.

[2013-02-04 07:16] szkrd commented on #56
Thank you! ;)

[2013-02-04 07:20] szkrd commented on #58
Import once would import a file _only once_, even if multiple importOnce has been issued. So if "class" B and C both depend on class A, then I still would be able to write
`importOnce A` in both files, but the file would only be included once.
Is this clear or does it sound silly?

[2013-02-04 07:25] szkrd commented on #59
I think I'm going to give up file watching :( It's totally useless / unreliable on Windows (and I find it annoying how node itself sidesteps the problem by stating that fs.watch is not cross platform); eventually the time between crashes are down to mere minutes rendering my workflow more of a pain than a workflow.

I will close this one since the bug is not clearly reproducable and it happens wit

[2013-02-04 07:25] #59 closed, assigned to nobody

[2013-02-04 07:28] szkrd commented on #57
The forced httpPaths didn't help, sorry. Thanks for keeping the bug, hope this gets fixed (though without file watching it doesn't really matter anymore).

[2013-02-05 19:16] jglovier commented on #49
Dang it. I missed that window to hit "Y" on `Check for updates for all installed plugins?` What command do I run to update plugins?

[2013-02-05 22:45] szkrd opened #60 "Anviljs website"
Google's first result for anvilj is this page:
http://appendto.github.com/anvil.js/

Where the github link is broken - what is this site? Maybe it's just me, but it's pretty confusing. Also note that on anviljs.com (the _real_ site?) the navigation's scrollbar doesn't work and half of that menu is missing in 1366x768.

[2013-02-06 01:52] mikehostetler commented on #60
Removed the github site at the first link, it should now 404 and Google should pick that up and adjust accordingly shortly.

The site is being worked on over the next few days and will be fully responsive soon.

[2013-02-06 07:24] szkrd commented on #60
Thanks, hopefully google will throw away it from the index soon.

[2013-02-06 07:24] #60 closed, assigned to nobody

[2013-02-08 15:31] arobson commented on #53
@rauhryan - going to close this one out unless nvm hasn't fixed the issue.

[2013-02-08 15:31] #53 closed, assigned to nobody

[2013-02-08 15:31] #38 closed, assigned to nobody

[2013-02-08 15:32] arobson commented on #55
@rosamez - when a file is deleted Anvil is supposed to delete it from output. I'll take a look at what I can do to reproduce this and fix it.

[2013-02-08 21:11] lancevo opened #62 "Rename a file doesn't delete old files in lib and .lib/tmp folder"
I tested in CI. So I created a file called _file1.js_, anvil generated a same file in lib folder and .lib/tmp. When I renamed this file to _file2.js_, anvil generated the new file in both lib and .anvil/tmp, but it doesn't remove the old file _file1.js_

[2013-02-09 17:30] #56 closed, assigned to nobody

[2013-02-17 22:22] ghost commented on #53
I had the same problem with MacOSX. Installing with nvm fixed it.

BTW This link from the quick-start is 404
http://anviljs.com/public/troubleshooting

[2013-04-08 08:42] magicwrites opened #65 "Windows 7: Anvil uglify throws error on example project."
Hey,

I've followed the instructions from anviljs website and installed node (v 0.10.3), npm (v 1.2.17) and anviljs (v 0.9.4). When I tried to set up a simple project with concatenation and minification, I get an ugly error on "post-processing".

I downloaded an example project that Wiki pointed me to (postal in this case) and it broke too. Seems like this is a problem with anvil uglify, but I pos

[2013-04-08 13:29] dcneiner commented on #65
Hey @maciejmazur – sorry for the trouble you are experiencing. There is currently an open issue in the uglify repo: https://github.com/arobson/anvil.uglify/pull/4 That is just waiting on a merge… once that is pulled in you should be all set.

If you wanted to try to pull that version in sooner, you can install Tyson's fixed version locally to your project.
1. In your directory, run `npm install gi

[2013-04-09 13:13] wuchang1123 opened #66 "how to fix 'npm link npm --local'"
npm WARN prefer global npm@1.1.45 should be installed with -g
npm ERR! Error: EACCES, symlink '../npm/bin/npm-cli.js'
npm ERR!  { [Error: EACCES, symlink '../npm/bin/npm-cli.js'] errno: 3, code: 'EACCES', path: '../npm/bin/npm-cli.js' }
npm ERR!
npm ERR! Please try running this command again as root/Administrator.

npm ERR! System Darwin 12.3.0
npm ERR! command "node" "/usr/local/bin/npm" "link" "

[2013-04-10 01:40] dcneiner commented on #66
@wuchang1123 Was your version of node installed with homebrew? I think there are some file permission issues that come up with the homebrew installed node. I believe when node is installed via [nvm](https://github.com/creationix/nvm) there is not this problem. I don't know of any other work arounds, but you see this line indicates a permissions issue.

[code]

[2013-04-10 01:41] eliperelman commented on #66
Please see the end of #45 for some tips that might work for you.

[2013-04-10 01:43] dcneiner commented on #66
Awesome @eliperelman

[2013-04-10 01:43] wuchang1123 commented on #66
@dcneiner @eliperelman,thanks all. i will try later.

[2014-03-18 21:48] shaci opened #67 "Anvil throws error during installation"
Good day. I try to install anvil through calling this command "npm install anvil.js -g", but get error during installation. "Unhandlend exception: TypeError: Cannot call method 'indexOf' of undefined".
Does anybody know how to fix it? I use windows 7, and node.js from this site - http://nodejs.org/ (last version of node - 0.10.26)